@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .font-outline-2 {
        font-family: 'Bebas Neue';
        -webkit-text-stroke: 2px white;
    }

    .font-outline-4 {
        -webkit-text-stroke: 4px white;
    }

    .font-shoes {
        font-family: 'Bebas Neue';
    }
}

body{
    @apply bg-[#101010];
}